<template>
    <div>
        <el-card class="libros" shadow="never">
            <el-form :model="form" ref="form" :rules="rules" label-width="160px">
                <el-form-item label="Nombre del libro" prop="nombrelibro" >
                    <el-input placeholder="Nombre del libro" v-model="form.nombrelibro"></el-input>
                </el-form-item>

                <el-form-item label="Autor o Autores" prop="autorlibro">
                    <el-input placeholder="Nombre del Autor" v-model="form.autorlibro"></el-input>
                </el-form-item>

                <el-form-item label="Publicadora del libro" prop="publicadoralibro" >
                    <el-input placeholder="Publicadora del libro" v-model="form.publicadoralibro"></el-input>
                </el-form-item>

                <el-form-item label="Pais de origen" prop="paisorigen">
                    <el-input placeholder="Pais de origen" v-model="form.paisorigen"></el-input>
                </el-form-item>

                <el-form-item label="Fecha de publicacion" prop="fecha">
                    <el-col :span="11">
                        <el-date-picker placeholder="Fecha de publicacion" v-model="form.fecha" style="width: 220%;"></el-date-picker>
                    </el-col>
                </el-form-item>

                <div style="text-align: center; padding-top: 10px">
                        <el-button type="primary" @click="open" round> Enviar </el-button>
                </div>
            </el-form>

            <div style="text-align: center; padding-top: 35px">
                <el-table :data="tableData" style="width: auto">
                    <el-table-column prop="name" label="Name" width="75"></el-table-column>
                    <el-table-column prop="lastname" label="Lastname" width="100"></el-table-column>
                    <el-table-column prop="age" label="Age" width="75"></el-table-column>
                    <el-table-column prop="career" label="Career" width="115"></el-table-column>
                    <el-table-column prop="college" label="College" width="100"></el-table-column>
                    <el-table-column prop="yeargrad" label="YearGrad" width="100"></el-table-column>
                </el-table>
            </div>
        </el-card>

    </div>

</template>
<script>

    import Layout from "../../Shared/Layout";


    export default {
        data() {
            return {
                form:{
                    nombrelibro: '',
                    autorlibro: '',
                    publicadoralibro: '',
                    paisorigen: '',
                    fecha: '',
                },

                rules: {
                    nombrelibro: {required: true, message: 'El nombre del libro es requerido', trigger: 'blur'},
                    autorlibro: {required: true, message: 'El o los nombres son requeridos', trigger: 'blur'},
                    publicadoralibro: {required: true, message: 'La publicadora es requerida', trigger: 'blur'},
                    fecha: {required: true, message: 'La fecha es requerida', trigger: 'blur'}
                },

                tableData: [{
                    name: 'Julia',
                    lastname: 'Martinez',
                    age: '23',
                    career: 'Math',
                    college: 'UCLA',
                    yeargrad: '2015',
                }, {
                    name: 'John',
                    lastname: 'Smith',
                    age: '58',
                    career: 'Science',
                    college: 'MI State',
                    yeargrad: '1998',
                }, {
                    name: 'Stacy',
                    lastname: 'Lopez',
                    age: '65',
                    career: 'Accountant',
                    college: 'NOVA',
                    yeargrad: '1985',
                }, {
                    name: 'Mary',
                    lastname: 'Brown',
                    age: '29',
                    career: 'Engineer',
                    college: 'MIT',
                    yeargrad: '2010',
                }]
            }
        },

        components: {
            Layout
        },

        methods: {
            open() {
                this.$message('Hecho con exito');
            },
        }
    }
</script>
